:root {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;

    --app-background: #f7f8fb;
    --body-background: #242424;
    --red-gradient: linear-gradient(0.25turn, #f83375, #fa695a);
    --tinder-gold: #ebc36a;
}

/* * {
outline: 1px solid red;
} */

html {
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    background-color: var(--body-background);
}

@media screen and (min-height: 800px) {
    html {
        padding: 6% 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    max-width: 450px;
    border-radius: 10px;
    min-height: fit-content;
    max-height: 800px;
    margin: 0 auto;
    background-color: var(--app-background);
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 80px;
    max-height: 90px;
    max-width: 450px;
}

.header {
    display: flex;
    min-width: 90%;
    max-height: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
}

.icon {
    max-width: 1.75rem;
    max-height: 1.75rem;
}

.icon__paw {
    padding: 0.2em 1.4em;
    border-radius: 25px;
    background: var(--red-gradient);
}

main {
    overflow: hidden;
}

.app {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    animation: fade-in 0.5s;
    min-height: 410px;
    min-width: 20em;
    width: fit-content;
}

.left__swipe {
    animation: left-swipe 1.5s, fade-out 2.5s;
}

.right__swipe {
    animation: right-swipe 1.5s, fade-out 2.5s;
}

@keyframes left-swipe {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -10deg;
        transform: translate(-8em, 0.5ex);
    }
}

@keyframes right-swipe {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 10deg;
        transform: translate(8em, 0.5ex);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (min-width: 500px) {
    .app {
        min-height: 440px;
        max-height: 450px;
        min-width: 450px;
    }
}

.img__container {
    display: flex;
    max-width: 100%;
    min-height: 410px;
    max-height: 410px;
}

@media only screen and (min-width: 500px) {
    .img__container {
        min-height: 420px;
        max-height: 432px;
    }
}

.img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 96%;
    min-height: 320px;
    height: auto;
    width: auto;
    object-fit: cover;
    overflow: hidden;
}

.img__pagination {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    top: 2%;
    left: 5%;
    right: 5%;
    min-width: 90%;
    min-height: 0.8%;
    border-radius: 10px;
    text-align: center;
    gap: 5px;
}

.page {
    background-color: #b1abab;
    border-radius: 10px;
}

.current__page {
    background-color: #fff;
    box-shadow: 1px 1px 4px #b4b2b2;
}

.bio__shadow {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    inset: 0;
    top: 31%;
    max-width: 96%;
    margin: 0 auto;
    max-height: 300px;
    border-radius: 10px;
    z-index: 0;
}

.bio__container {
    position: absolute;
    top: 70%;
    width: 90%;
    margin-left: 1.5em;
    padding-top: 0.75em;
    min-height: 20%;
    max-width: 80%;
    border-radius: 10px;
}

@media only screen and (min-width: 420px) {
    .bio__container {
        top: 73%;
    }
}

.bio {
    max-width: 12em;
    color: var(--app-background);
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h1,
h2 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 0.5em;
}

.gold-text {
    color: var(--tinder-gold);
    text-shadow: 1px 1px 4px rgba(235, 195, 106, 0.3);
}

.blur-background {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-color: var(--app-background);
    filter: blur(8px);
    z-index: 0;
}

.end-modal {
    padding: 2em;
    text-align: center;
    background-color: var(--app-background);
    max-width: 55%;
    max-height: 310px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 6px var(--body-background);
    z-index: 100;
}

.end-modal h1,
.end-modal h2 {
    margin-bottom: 1em;
}

.end-modal button {
    line-height: 1.3;
    width: 100%;
    padding: 1em;
    margin-bottom: 0.5em;
    border: none;
    background-color: var(--app-background);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.end-modal .buttons {
    margin-top: 2em;
    max-height: 100px;
}

.end-modal .gold-button {
    background-color: var(--tinder-gold);
    color: var(--app-background);
    border-radius: 20px;
}

.app__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    max-height: 170px;
    max-width: 550px;
}

.swipe__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2.5em;
    margin: 0 auto;
}

.swipe__container img {
    max-width: 2em;
}

.like__container,
.nope__container {
    display: flex;
    max-height: 2.5em;
    max-width: 2.5em;
    background-color: #fff;
    box-shadow: 1px 2px 8px #e7e0e0;
    border-radius: 100%;
    padding: 1em;
    transition: background-color 0.25s;
}

.like {
    display: none;
    position: absolute;
    animation: fade-in 0.5s;
    top: 2em;
    left: 1em;
    rotate: 325deg;
    max-width: 9em;
    z-index: 200;
}

.nope {
    display: none;
    position: absolute;
    animation: fade-in 0.5s;
    top: 2em;
    right: 1em;
    rotate: 25deg;
    max-width: 9em;
    z-index: 200;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.like__container:hover {
    cursor: pointer;
    background-color: #dbfff4;
}

.nope__container:hover {
    cursor: pointer;
    background-color: #ffe7ef;
}

.disable {
    pointer-events: none;
    opacity: 0.6;
}
