:root {
    font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --app-background: #fff;
    --body-background: #242424;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 550px;
    background-color: var(--body-background);
}

main {
    min-width: 550px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--app-background);
}